@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: EBGaramond;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/EBGaramond08-Regular.woff) format("woff");
  }
  @font-face {
    font-family: EBGaramond;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/EBGaramond08-Italic.woff) format("woff");
  }
}

